# requirements.txt

# Web Framework
fastapi
uvicorn[standard]
gunicorn

# User Auth
supabase
gotrue

# Parsing Libraries
pdfminer.six
tika

# HTTP Client
requests

# Code Quality & Style
ruff

# Testing Framework
pytest

# Configuration Management
pydantic-settings


# Other
python-multipart

# genAI Client
google-genai

# DATABASE(S)
redis[asyncio]

# ... other packages ...
PyYAML>=6.0
