# requirements.txt

# Web Framework
fastapi
uvicorn[standard]

# Parsing Libraries
pdfminer.six
tika

# HTTP Client
requests

# Code Quality & Style
ruff

# Testing Framework
pytest

# Configuration Management
pydantic-settings


# Other
python-multipart
